.confirm {
    background-color: #F4CE14;
    margin: 0;
    padding: 0;
    padding-top: 5rem;
    padding-left: 10rem;
    padding-bottom: 5rem;
    h1 {
        margin: 0;
    }

    p {
        margin: 0;
    }
}