footer {
  background-color: #edefee;
  display: flex;
  flex-grow:1;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
  padding-bottom: 5rem;
  img {
    margin-top: 2rem;
    width: 15%;
  }

  ul {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    justify-content: center;
    gap: 0.5rem;
  }

  li {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 2rem;
    list-style: none;
  }
}
